[report]
# Hostgroupid can be found when you comment the hostgroupid and run the generate_report script
hostgroupid=14
# In test mode or not
in_test = 1
# Date will be added base on period
name=Report.docx
# Place template in $MREPORT_HOME/template/ folder
template=VermontTemplate_0.2.docx
# Language of Word in which the template was generated (only support en and nl. Support for other languages can be added by modifying docx.py)
lang=nl
# Start of period (dd-mm-yyyy). If non is specified. Today will be the "ending" date of the period
start_date=01-03-2014
#Specify period in days, weeks, months or years (1d for 1 day, 1w for 1 week enz.)
period=1m
# Specify period used for trending. Trending start_date will be calculated from end_period for report minus the trending period
trend_period=6m
# Define width of the graph in pixels. Height is not used so aspect ratio is maintained
graph_width=1200
# Title of report (will be placed on front page)
title=Company service rapport
# Item in zabbix database which stores the string of the backup result in this format "start_date;stop_date;duration;status;type"
backup_item=25480
# A picture with the infrastructure overview of a customer. It is stored in the templates folder
infra_picture=Infrastructure_overview.png
# Now we can configure a "Custom" section. This section will be generated before all the other graphs to display application specific graphs (for example, active user sessions)
# When custom is set to 1 (meaning YES) the following line must also exist:
# custom_title = Title of chapter
# A file with the paragraph text (called "paragraph_Custom") must also exist in folder /opt/mios/mios-report/templates/default_texts/
custom = 1
custom_title = Applicatie gebruik
